.newsletter-img img {
    width: 100%;
}

.newsletter-content {
    padding: 50px 0;
}

.newsletter-content h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.newsletter-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
}

.newsletter-input input {
    border: none;
    outline: none;
}

.newsletter-input button {
    background-color: #ff7e01;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.newsletter-input button:hover {
    background-color: #faa935;
    color: #fff;
}

.newsletter-content p {
    color: #333;
    font-size: 1.1rem;
}