.register-wrapper {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 80px;
}

.register-img {
    width: 60%;
    text-align: center;
}

.register-img img {
    width: 60%;
    object-fit: contain;
}

.register-form {
    background-color: #faa935;
    padding: 50px;
    position: relative;
}

.user-icon img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
}

.register-form h2 {
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.register-form button {
    background: #0b2727;
    width: 100%;
    color: #fff;
    border: none;
    font-weight: 550;
}

.register-form button:hover {
    background: #0b2727;
    color: #fff;
}

.register-form p {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 550;
}

.register-form .link {
    color: #0b2727 !important;
    font-size: 0.9rem;
}

.register-form .link:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 426px) {
    .register-img {
        display: none;
    }

    .register-wrapper {
        width: 80%;
        margin-top: 60px !important;
        margin: auto;
    }

    .register-form {
        width: 100%;
    }
}